* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --sort-group-width: 150px;
    --def-line-height: 1rem;
    --def-height: 5rem;
}

body {
    padding-inline: 0.8rem;
}

input[type="text"] {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.3rem;
    width: 10%;
}

input[type="file"] {
    display: none;
}

#excelFileForm>.flex {
    align-items: center;
    gap: 0.3rem;
}


.btn,
button {
    border: 2px solid black;
    padding: 0.4rem 1rem;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 10px #0000003a;
    user-select: none;
    transition: background-color 120ms ease-in-out, color 120ms ease-in-out;
    outline: none;
    display: block;
}

.btn:hover,
button:hover {
    background-color: #000;
    color: #fff;
    outline: none;
}

.btn:active,
button:active {
    box-shadow: 0 4px 10px #0000001c;
}

.btn:disabled,
button:disabled {
    color: #0000004d;
    border-color: grey;
}

.btn:disabled:hover,
button:disabled:hover {
    background-color: #fff;
    color: #0000004d;
    cursor: not-allowed;
}

.btn:disabled:active,
button:disabled:active {
    box-shadow: 0 4px 10px #0000003a;
}

.my-g {
    margin-block: 1.2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-g {
    gap: 1rem;
}

.gap-s {
    gap: 0.3rem;
}

.inputBgRed,
.inputBgBlue {
    background-color: red;
    width: max-content;
    padding: 0.2rem;
    display: inline-block;
    border-bottom: 1px solid;
    margin-inline-start: 0.2rem;
}

.inputBgBlue {
    background-color: rgb(6, 212, 248);
    margin-block: 0.3rem;
    border: none;
}

.inputBgRed+label,
.inputBgBlue+label {
    border: 1px solid;
    padding-block: 0.19rem;
    padding-inline-end: 0.1rem;
    font-size: 0.9rem;
}

.inputBgBlue+label {
    width: min-content;
    font-size: 0.7rem;
}

.sortGroup {
    min-width: var(--sort-group-width);
}

.sortGroup>*.flex {
    justify-content: space-between;
}

.colHeaders {
    background-color: rgb(203, 245, 203);
    border: 1px solid;
    width: max-content;
}

.colHeaders>* {
    width: var(--sort-group-width);
    border-inline-end: 1px solid;
    padding-block: 1rem;
    margin-inline-start: 0.1rem;
    font-size: 1.2rem;
    height: 100%;
    overflow-y: auto;
    line-height: var(--def-line-height);
    height: var(--def-height);
}

#startJob {
    margin: auto;

}

#uploadStat {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: grey;
    margin-block-start: 0.2rem;
}

#uploadStat.uploaded {
    background-color: rgb(15, 235, 15);
}

.contraFileSec.flex {
    align-items: start;
    gap: 0.3rem;
}

#sortDateCheckForm {
    gap: 0.1rem;
}